body {
	color: #444;
	font: 10pt arial;	
	background: #fafafa;
	padding: 30px;
	text-align: center;
}

h1 {
	font-size: 200%;
	color: #8B5D24;
	margin-bottom: 20px;
}

label {
	color: #487444;
	font-weight: bold;
}

#username {
	background: none;
	border: none;
	border-bottom: dashed 1px #AAA;
	width: 100px;
	color: #666;
	outline: none;
}

footer {
	font: italic 70% arial;
	color: #999;
}









